@charset "UTF-8";

.inner_layout4 {
    width:465px;
    height:320px;
    margin:0 auto;
}
.inner_layout5 {
    width:100%;
    height:auto;
    margin:0 auto;
}
.inner_layout6 {
    width:100%;
    margin:0 auto;
}
.inner_layout7 {
    max-width:1920px;
    height:722px;
    margin:100px auto 0;
}

.slideBtn_left {
    position:absolute;
    left:10%;
    top:20%;
    transform:translate(-50%);
    display:block;
    width:20px;
    height:20px;
    border-left:1px solid black;
    border-bottom:1px solid black;
    transform:rotate(45deg);
    z-index:1;
}
.slideBtn_left:hover {
    cursor:pointer;
}
.slideBtn_right {
    position:absolute;
    right:10%;
    top:20%;
    transform:translate(-50%);
    display:block;
    width:20px;
    height:20px;
    border-right:1px solid black;
    border-bottom:1px solid black;
    transform:rotate(-45deg);
    z-index:1;
}
.slideBtn_right:hover {
    cursor:pointer;
}

/* Banner Content */
.banner_width {
    position:relative;
    max-width:100%;
    background:rgb(247, 243, 242);
}
.banner_wrap {
    position:relative;
    left:0;
    width:300px;
    overflow:hidden;
}
.banner_wrap .slider {
    position:relative;
    display:flex;
    left:0;
    width:1864px;
    transition:.4s;
}
.banner_wrap .slider .slider_content {
    position:relative;
    display:block;
    width:100%;
    height:100%;
    background-image:url('source/img/main_banner_bg.jpg');
    background-color:rgb(247, 243, 242);
    background-position:50% 73%;
    background-size:40%;
    background-repeat:no-repeat;
}
.banner_wrap .slider .slider_content:nth-child(2) img {
    position:absolute;
    top:73.5%;
    left:50%;
    transform:translate(-50%, -47%);
}
.banner_wrap .slider .slider_content:nth-child(3) img {
    position:absolute;
    top:72%;
    left:50%;
    transform:translate(-50%, -48%);
}
.banner_wrap .slider .slider_content:nth-child(4) img {
    position:absolute;
    top:65%;
    left:50%;
    transform:translate(-50%, -53%);
}
    /* Content - title */
    .banner_wrap .slider .banner_title {
        position:absolute;
        top:40%;
        left:5%;
        transform:translateY(-20%);
    }
    .banner_wrap .slider .banner_title p {
        font-size:20px;
    }
    .banner_wrap .slider .banner_img_wrap {
        position:absolute;
        top:63%;
        left:33%;
        transform:translate(-50%, -50%);
        text-align:center;
    }
    .banner_wrap .slider .banner_img_wrap .wrap_img {
        width:330px;
        height:auto;
    }
    .banner_wrap .slider .banner_img_wrap .wrap_img img {
        width:100%;
    }
    .banner_wrap .slider .banner_img_wrap .wrap_txt {
        position:absolute;
        top:10%;
        left:20%;
        font-size:15px
    }
    .banner_toggle .toggle_btn {}
        /* banner_nav */
        .toggle_nav {
            position:relative;
            top:0;
            left:50%;
            transform:translate(-50%);
            background:#fff;
        }
        .nav_side {
            position:relative;
            z-index:1;
        }
        .nav_btn {
            width:100%;
            height:auto;
        }
        .nav_btn > ul {
            position:relative;
            display:flex;
            justify-content:space-between;
            flex-wrap:wrap;
            text-align:center;
            left:0;
            width:100%;
            margin:0 auto;
            transition:.4s;
        }   
        .nav_btn > ul > li {
            display:block;
            width:16.6666%;
            height:70px;
            margin:20px 25px;
        }
        .nav_btn > ul > li a {
            display:inline-block;
            width:100%;
            font-size:14px;
        }
        .nav_btn > ul > li:nth-child(1) a::before {
            display:block;
            content:"";
            margin:auto;
            width:50px;
            height:50px;
            background:url('source/img/main_banner_slide1.png') no-repeat center center / 100%;
        }
        .nav_btn > ul > li:nth-child(2) a::before {
            display:block;
            content:"";
            margin:auto;
            width:50px;
            height:50px;
            background:url('source/img/main_banner_slide2.png') no-repeat center center / 100%;
        }
        .nav_btn > ul > li:nth-child(3) a::before {
            display:block;
            content:"";
            margin:auto;
            width:50px;
            height:50px;
            background:url('source/img/main_banner_slide3.png') no-repeat center center / 100%;
        }
        .nav_btn > ul > li:nth-child(4) a::before {
            display:block;
            content:"";
            margin:auto;
            width:50px;
            height:50px;
            background:url('source/img/main_banner_slide4.png') no-repeat center center / 100%;
        }
        .nav_btn > ul > li:nth-child(5) a::before {
            display:block;
            content:"";
            margin:auto;
            width:50px;
            height:50px;
            background:url('source/img/main_banner_slide5.png') no-repeat center center / 100%;
        }
        .nav_btn > ul > li:nth-child(6) a::before {
            display:block;
            content:"";
            margin:auto;
            width:50px;
            height:50px;
            background:url('source/img/main_banner_slide6.png') no-repeat center center / 100%;
        }
        .nav_btn > ul > li:nth-child(7) a::before {
            display:block;
            content:"";
            margin:auto;
            width:50px;
            height:50px;
            background:url('source/img/main_banner_slide7.png') no-repeat center center / 100%;
        }
        .nav_btn > ul > li:nth-child(8) a::before {
            display:block;
            content:"";
            margin:auto;
            width:50px;
            height:50px;
            background:url('source/img/main_banner_slide9.png') no-repeat center center / 100%;
        }
        .nav_btn > ul > li:nth-child(9) a::before {
            display:block;
            content:"";
            margin:auto;
            width:50px;
            height:50px;
            background:url('source/img/main_banner_slide10.png') no-repeat center center / 100%;
        }
        .nav_btn > ul > li:nth-child(10) a::before {
            display:block;
            content:"";
            margin:auto;
            width:50px;
            height:50px;
            background:url('source/img/main_banner_slide11.png') no-repeat center center / 100%;
        }
        .nav_btn > ul > li:nth-child(11) a::before {
            display:block;
            content:"";
            margin:auto;
            width:50px;
            height:50px;
            background:url('source/img/main_banner_slide12.png') no-repeat center center / 100%;
        }
        .nav_btn > ul > li:nth-child(12) a::before {
            display:block;
            content:"";
            margin:auto;
            width:50px;
            height:50px;
            background:url('source/img/main_banner_slide12.png') no-repeat center center / 100%;
        }

        .dots {
            position:absolute;
            left:50%;
            top:40%;
            transform:translate(-50%);
            z-index:1;
        }
        .dots button {
            width:13px;
            height:13px;
            text-indent:-9999px;
            margin:0 10px;
            border-radius:10px;
            border:0;
            background:lightgray;
            color:#FFF;
        }
        .dots button:hover {
            cursor:pointer;
        }

/* Main Content */
.content_wrap {
    max-width:100%;
}
    /* content1 */
    .content_wrap .content1 {
        text-align:center;
    }
    .content_wrap .content1 > h2 {
        display:block;
        line-height:40px;
        margin:20px 0 0 0;
        font-size:30px;
        font-weight:500;
    }
    .content_wrap .content1 > p {
        display:block;
        line-height:30px;
        margin:20px 0 20px 0;
        color:rgb(124, 124, 124);
        font-size:12px;
    }
    .content_wrap .content1 .content_inside {
        display:flex;
        flex-direction:column;
        justify-content:space-between;
    }
    .content_wrap .content1 .content_inside .content_left {
        display:block;
        margin:0 auto;
        width: 100%;
        overflow: hidden;
    }

    .content_wrap .content1 .content_inside .content_left > a {
        width:100%;
        height:432px;
        background-repeat:no-repeat;
        background-size: cover;
    }
    .content_wrap .content1 .content_inside .content_left > a:nth-child(1) {
        display:none;
        background-image:url('source/img/content1_left1.webp');
        background-position: 140% 50%;
    }
    .content_wrap .content1 .content_inside .content_left > a:nth-child(2) {
        display:none;
        background-image:url('source/img/content1_left2.webp');
        background-position:100% 50%;
    }
    .content_wrap .content1 .content_inside .content_left > a:nth-child(3) {
        display:none;
        background-image:url('source/img/content1_left3.webp');
        background-position:110% 50%;
    }
    .content_wrap .content1 .content_inside .content_left > a:nth-child(4) {
        display:none;
        background-image:url('source/img/content1_left4.webp');
        background-position:65% 50%;
    }
    .content_wrap .content1 .content_inside .content_left > a.active {
        display:block;
    }

    .content_wrap .content1 .content_inside .content_right {
        width:100%;
        margin:20px auto;
        }
    .content_wrap .content1 .content_inside .content_right > ul {
        display:block;
        margin:20px 0;
        font-size:14px;
    }
    .content_wrap .content1 .content_inside .content_right > ul > li {
        display:inline-block;
    }
    .content_wrap .content1 .content_inside .content_right > ul > li::after {
        display:block;
        content:"|";
        float:right;
        margin:0 20px;
    }
    .content_wrap .content1 .content_inside .content_right > ul > li:last-child::after {
        display:none;
    }
    .content_wrap .content1 .content_inside .content_right > ul > li a {}
    .content_wrap .content1 .content_inside .content_right > h2 {
        display:none;
        width:100%;
        line-height:45px;
        font-size:25px;
        text-align:center;
        margin:10px 0;
    }
    .content_wrap .content1 .content_inside .content_right > h2.active {
        display:block;
    }
    
    .content_wrap .content1 .content_inside .content_right .right_imgs {
        display:flex;
        justify-content:center;
        bottom:30px;
    }
    .content_wrap .content1 .content_inside .content_right .right_imgs > ul:nth-child(1) {
        margin-right:10px;
    }
    .content_wrap .content1 .content_inside .content_right .right_imgs > ul > li {
        display:none;
        width:100%;
    }
    .content_wrap .content1 .content_inside .content_right .right_imgs > ul:nth-child(1) > li.active {
        display:block;
    }
    .content_wrap .content1 .content_inside .content_right .right_imgs > ul:nth-child(2) > li.active {
        display:block;
    }

    .content_wrap .content1 .content_inside .content_right .right_imgs > ul > li a {
        width:100%;
    }
    .content_wrap .content1 .content_inside .content_right .right_imgs > ul > li a img {
        display:block;
        width:100%;
        margin-bottom:15px;
        object-fit:cover;
    }

    /* content2 */
    .content_wrap .content2 {
        text-align:center;
    }
    .content_wrap .content2 > h2 {
        display:block;
        line-height:40px;
        margin:20px 0 0 0;
        font-size:30px;
        font-weight:500;
    }
    .content_wrap .content2 > p {
        display:block;
        line-height:30px;
        font-size:12px;
        margin:20px 0 20px 0;
        color:rgb(124, 124, 124);
    }
    .content_wrap .content2 .img_wrap {
        width:100%;
        height:300px;
    }
    .content_wrap .content2 .img_wrap > a {
        display:block;
        width:100%;
        height:100%;
        background-image:url('source/img/Content2_left.webp');
        background-repeat:no-repeat;
        background-size:150%;
        background-position:42% 79%;
    }
    .content_wrap .content2 .img_wrap .info {
        position:relative;
        display:block;
        width:100%;
        height:450px;
        text-align:left;
        background:rgb(247, 243, 242);
    }
    .content_wrap .content2 .img_wrap .info > h2 {
        text-align:center;
        display:block;
        width:100%;
        line-height:100px;
        margin:0px 0 20px 0px;
        font-size:40px;
        font-weight:bold;
    }
    .content_wrap .content2 .img_wrap .info > p:first-of-type {
        display:block;
        margin-left:40px;
        line-height:25px;
    }
    .content_wrap .content2 .img_wrap .info > p:first-of-type::after {
        display:block;
        content:"";
        width:90%;
        margin:20px 0;
        border-bottom:1px solid lightgray;
    }
    .content_wrap .content2 .img_wrap .info span:nth-of-type(1) {
        position:absolute;
        top:20%;
        right:20%;
        display:inline-block;
        padding:10px 40px;
        margin:50px 0 0 40px;
        background:midnightblue;
        color:white;
    }
    .content_wrap .content2 .img_wrap .info > h3 {
        position:absolute;
        top:50%;
        left:40px;
        font-size:25px;
    }
    .content_wrap .content2 .img_wrap .info > p:last-of-type {
        position:absolute;
        top:60%;
        left:40px;
        line-height:20px;        
    }
    .content_wrap .content2 .img_wrap .info > span:nth-of-type(2) {
        position:absolute;
        top:80%;
        left:40px;
        line-height:20px; 
        font-size:14px;
        font-weight:bold;
        letter-spacing:-1px;       
    }
    .content_wrap .content2 .img_wrap .info > span:nth-of-type(3) {
        position:absolute;
        top:80%;
        left:150px;
        line-height:20px;
        font-size:14px;
        font-weight:bold;  
        letter-spacing:-1px;       
    }

    /* content3 */
    .content_wrap .content3 {
        text-align:center;
    }
    .content_wrap .content3 > h2 {
        font-size:40px;
        font-weight:bold;
    }
    .content_wrap .content3 > p {
        margin:60px 0 30px 0;
        color:rgb(102, 102, 102);
    }
    .content_wrap .content3 .content3_wrap {
        display:flex;
        justify-content:center;
    }
    .content_wrap .content3 .content3_wrap .content_left {
        display:flex;
        overflow:hidden;
        width:798px;
        height:440px;
        border:1px solid lightgray;
    }
    .content_wrap .content3 .content3_wrap .content_left .hiddenContent {
        position:relative;
        display:block;
        flex:1;
        width:50%;
        height:100%;
    }
    .content_wrap .content3 .content3_wrap .content_left .hiddenContent:nth-of-type(1) {
        border-right:1px solid lightgray;
    }
    .content_wrap .content3 .content3_wrap .content_left .hiddenContent:nth-of-type(2) {}
    .content_wrap .content3 .content3_wrap .content_left .hiddenContent:nth-of-type(3) {
        display:none;
    }
    .content_wrap .content3 .content3_wrap .content_left .hiddenContent:nth-of-type(4) {
        display:none;
    }

    .content_wrap .content3 .content3_wrap .content_left .hiddenContent h3 {
        display:block;
        font-size:30px;
        text-align:left;
        margin:20px 0 10px 40px;
    }
    .content_wrap .content3 .content3_wrap .content_left .hiddenContent p {
        display:block;
        font-size:14px;
        text-align:left;
        margin:20px 0 10px 40px;
    }
    .content_wrap .content3 .content3_wrap .content_left .hiddenContent span {
        position:absolute;
        left:0;
        display:inline-block;
        margin:20px 0 10px 40px;
        padding:10px 40px;
        background:midnightblue;
        color:white;
    }
    .content_wrap .content3 .content3_wrap .content_left .hiddenContent span a {
        display:block;
        line-height:20px;
        width:100%;
    }
    .content_wrap .content3 .content3_wrap .content_left .hiddenContent .img div {
        display:block;
        margin:100px 0 0 0;
        width:100%;
        height:100%;
    }
    .content_wrap .content3 .content3_wrap .content_left .hiddenContent .img div {
        display:block;
        content:"";
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        height:65%;
    }
    .content_wrap .content3 .content3_wrap .content_left .hiddenContent:nth-of-type(1) .img div {
        background: linear-gradient(
        to top,
        rgba(255, 254, 254, 0) 10%,
        rgba(255, 255, 255, 0.25) 25%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0.75) 75%,
        rgb(255, 255, 255) 100%), url('source/img/content3_1.webp');
        background-position:50% 100%;
        background-size:100% 50%;
            background-repeat:no-repeat;
    }
    .content_wrap .content3 .content3_wrap .content_left .hiddenContent:nth-of-type(2) .img div {
        background: linear-gradient(
        to top,
        rgba(255, 254, 254, 0) 10%,
        rgba(255, 255, 255, 0.25) 25%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0.75) 75%,
        rgb(255, 255, 255) 100%), url('source/img/content3_2.webp');
        background-position:50% 100%;
        background-size:100% 50%;
        background-repeat:no-repeat;
    }
    .content_wrap .content3 .content3_wrap .content_right {
        position:relative;
        display:block;
        width:20%;
        background:rgb(247, 243, 242);
    }
    .content_wrap .content3 .content3_wrap .content_right h3 {
        display:block;
        font-size:30px;
        text-align:left;
        margin:20px 0 10px 40px;
    }
    .content_wrap .content3 .content3_wrap .content_right p {
        display:block;
        font-size:14px;
        text-align:left;
        margin:20px 0 10px 40px;
        line-height:20px;
    }
    .content_wrap .content3 .content3_wrap .content_right span a {
        display:block;
        margin:30px 0 0 40px;
        text-align:left;
        font-weight:bold;
        color:midnightblue;
    }
    .content_wrap .content3 .content3_wrap .content_right .img {}
    .content_wrap .content3 .content3_wrap .content_right .img div {
        display:block;
        content:"";
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        height:60%;
        background: linear-gradient(
            to bottom,
            rgba(255, 254, 254, 0) 10%,
            rgba(255, 255, 255, 0.25) 25%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0.75) 75%,
            rgb(255, 255, 255) 100%), url('source/img/content3_3-1.png');
            background-position:50% 100%;
            background-size:cover;
            background-repeat:no-repeat;
    }

    /* content4 */
    .content_wrap .content4 {}
    .content_wrap .content4 .content4_wrap {
        text-align:center;
    }
    .content_wrap .content4 .content4_wrap h2 {
        display:block;
        line-height:100px;
        margin:20px 0 0 0;
        font-size:40px;
        font-weight:500;
        letter-spacing:-1px;
    }
    .content_wrap .content4 .content4_wrap p {
        display:block;
        line-height:30px;
        margin:20px 0 40px 0;
        color:rgb(124, 124, 124);
    }
    .content_wrap .content4 .content4_wrap .content4_line1 {
        display:flex;
        justify-content:center;
    }
    .content_wrap .content4 .content4_wrap .content4_line1 > div {
        width:352px;
        height:205px;
        margin:0 20px;
    }
    .content_wrap .content4 .content4_wrap .content4_line1 > div > a {
        position:relative;
        width:100%;
        height:100%;
        background-size:cover;
        background-position:50% 50%;
        color:white;
    }
    .content_wrap .content4 .content4_wrap .content4_line1 > div:nth-of-type(1) {}
    .content_wrap .content4 .content4_wrap .content4_line1 > div:nth-of-type(1) > a {
        background-image:url('source/img/content4_line1_1.jpg');
    }
    .content_wrap .content4 .content4_wrap .content4_line1 > div:nth-of-type(1) > a::after {
        position:absolute;
        bottom:0;
        left:0;
        display:block;
        width:100%;
        height:20%;
        font-size:25px;
        line-height:35px;
        content:"Porsche : Strategy";
        background-color:rgba(0,0,0,.5);
    }
    .content_wrap .content4 .content4_wrap .content4_line1 > div:nth-of-type(2) {}
    .content_wrap .content4 .content4_wrap .content4_line1 > div:nth-of-type(2) > a {
        background-image:url('source/img/content4_line1_2.webp');
    }
    .content_wrap .content4 .content4_wrap .content4_line1 > div:nth-of-type(2) > a::after {
        position:absolute;
        bottom:0;
        left:0;
        display:block;
        width:100%;
        height:20%;
        font-size:25px;
        line-height:35px;
        content:"Porsche : Locations";
        background-color:rgba(0,0,0,.5);
    }
    .content_wrap .content4 .content4_wrap .content4_line1 > div:nth-of-type(3) {}
    .content_wrap .content4 .content4_wrap .content4_line1 > div:nth-of-type(3) > a {
        background-image:url('source/img/content4_line1_3.webp');
    }
    .content_wrap .content4 .content4_wrap .content4_line1 > div:nth-of-type(3) > a::after {
        position:absolute;
        bottom:0;
        left:0;
        display:block;
        width:100%;
        height:20%;
        font-size:25px;
        line-height:35px;
        content:"Porsche : Compliance";
        background-color:rgba(0,0,0,.5);
    }
    .content_wrap .content4 .content4_wrap .content4_line2 {
        display:flex;
        margin-top:40px;
        justify-content:center;
    }
    .content_wrap .content4 .content4_wrap .content4_line2 .line2_left {
        display:block;
        width:224px;
        height:288px;
        text-align:left;
        background:rgb(247, 243, 242);
    }
    .content_wrap .content4 .content4_wrap .content4_line2 .line2_left h4 {
        display:block;
        font-size:20px;
        margin:40px auto 40px 18px;
    }
    .content_wrap .content4 .content4_wrap .content4_line2 .line2_left p {
        display:block;
        font-size:15px;
        margin:40px auto 40px 18px;
    }
    .content_wrap .content4 .content4_wrap .content4_line2 .line2_left span {
        display:block;
        font-size:14px;
        margin:40px auto 40px 18px;
        line-height:20px;
    }
    .content_wrap .content4 .content4_wrap .content4_line2 .line2_left span a {
        display:block;
        font-weight:bold;
        color:midnightblue;
    }
    .content_wrap .content4 .content4_wrap .content4_line2 .line2_right {
        display:flex;
        width:896px;
        justify-content:space-between;
        margin-left:20px;
    }
    .content_wrap .content4 .content4_wrap .content4_line2 .line2_right > div {
        width:192px;
        height:291px;
    }
    .content_wrap .content4 .content4_wrap .content4_line2 .line2_right > div > a {
        position:relative;
        width:100%;
        height:100%;
        background-size:cover;
        background-position:50% 50%;
        color:white;
    }
    .content_wrap .content4 .content4_wrap .content4_line2 .line2_right > div:nth-of-type(1) > a {
        background-image:url('source/img/content4_line2_right1.webp');
    }
    .content_wrap .content4 .content4_wrap .content4_line2 .line2_right > div:nth-of-type(1) > a::after {
        display:block;
        content:"Zuffenhausen";
        position:absolute;
        top:1px;
        left:1px;
        padding:5px 10px;
        background:rgba(169, 169, 169, 0.39);
        border-radius:0 5px 0 5px;
        font-size:14px;
        color:#FFF;        
    }
    .content_wrap .content4 .content4_wrap .content4_line2 .line2_right > div:nth-of-type(2) > a {
        background-image:url('source/img/content4_line2_right2.webp');
    }
    .content_wrap .content4 .content4_wrap .content4_line2 .line2_right > div:nth-of-type(2) > a::after {
        display:block;
        content:"Leipzig";
        position:absolute;
        top:1px;
        left:1px;
        padding:5px 10px;
        background:rgba(169, 169, 169, 0.39);
        border-radius:0 5px 0 5px;
        font-size:14px;
        color:#FFF;        
    }
    .content_wrap .content4 .content4_wrap .content4_line2 .line2_right > div:nth-of-type(3) > a {
        background-image:url('source/img/content4_line2_right3.webp');
    }
    .content_wrap .content4 .content4_wrap .content4_line2 .line2_right > div:nth-of-type(3) > a::after {
        display:block;
        content:"Sachsenheim";
        position:absolute;
        top:1px;
        left:1px;
        padding:5px 10px;
        background:rgba(169, 169, 169, 0.39);
        border-radius:0 5px 0 5px;
        font-size:14px;
        color:#FFF;        
    }
    .content_wrap .content4 .content4_wrap .content4_line2 .line2_right > div:nth-of-type(4) > a {
        background-image:url('source/img/content4_line2_right4.webp');
    }
    .content_wrap .content4 .content4_wrap .content4_line2 .line2_right > div:nth-of-type(4) > a::after {
        display:block;
        content:"Bietigheim";
        position:absolute;
        top:1px;
        left:1px;
        padding:5px 10px;
        background:rgba(169, 169, 169, 0.39);
        border-radius:0 5px 0 5px;
        font-size:14px;
        color:#FFF;        
    }

@media (max-width:420px){
    .dots {
        top:36%;
    }
    .slideBtn_left {
        top:25%;
        }
    .slideBtn_right {
        top:25%;
    }
    .content_wrap .content1 .content_inside .content_left > a:nth-child(1) {
        background-position: 75% 50%
    }
    .content_wrap .content1 .content_inside .content_left > a:nth-child(2) {
        background-position: 75% 50%
    }
    .content_wrap .content1 .content_inside .content_left > a:nth-child(3) {
        background-position: 75% 50%
    }
    .content_wrap .content1 .content_inside .content_left > a:nth-child(4) {
        background-position: 75% 50%
    }
}
@media (min-width:421px){
    .dots {
        top:36%;
    }
    .slideBtn_left {
        top:25%;
        }
    .slideBtn_right {
        top:25%;
    }
    .content_wrap .content1 .content_inside .content_left > a:nth-child(1) {
        background-position:90% 50%;
    }
    .content_wrap .content1 .content_inside .content_left > a:nth-child(2) {
        background-position: 90% 50%
    }
    .content_wrap .content1 .content_inside .content_left > a:nth-child(3) {
        background-position: 90% 50%
    }
    .content_wrap .content1 .content_inside .content_left > a:nth-child(4) {
        background-position: 90% 50%
    }
}
@media (min-width:600px){
    .dots {
        top:41%;
    }
    .slideBtn_left {
        top:30%;
        }
    .slideBtn_right {
        top:30%;
    }
}